interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.beaconjournal.com/communities/hudsonhubtimes/
  response:
    body:
      string: "<!doctype html><html lang=en-US class=gnt__njs data-u-s=anon><head><meta
        charset=utf-8 /><meta name=viewport content=\"width=device-width,initial-scale=1,minimum-scale=1\"/><meta
        name=theme-color content=#0098FE /><title>Hudson Hub Times | Akron Beacon
        Journal</title><meta property=og:title content=\"Hudson Hub Times | Akron
        Beacon Journal\"/><link rel=dns-prefetch href=//user.beaconjournal.com /><link
        rel=preconnect href=https://user.beaconjournal.com /><link rel=dns-prefetch
        href=//securepubads.g.doubleclick.net /><link rel=preconnect href=https://securepubads.g.doubleclick.net
        /><link rel=dns-prefetch href=//adservice.google.com /><link rel=preconnect
        href=https://adservice.google.com /><link rel=dns-prefetch href=//tpc.googlesyndication.com
        /><link rel=preconnect href=https://tpc.googlesyndicatio[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.beaconjournal.com/story/news/local/2024/02/03/tallmadge-summit-county-withdraw-lawsuit-over-midway-plaza-conditions/72439776007/
  response:
    body:
      string: "<!doctype html><html lang=en-US class=gnt__njs data-u-s=anon><head><meta
        charset=utf-8 /><meta name=viewport content=\"width=device-width,initial-scale=1,minimum-scale=1\"/><meta
        name=theme-color content=#0098FE /><title>Tallmadge, Summit Cou[...]
- request:
    body: grant_type=password&password=<PASSWORD>&username=hubs-bot
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      authorization:
      - <AUTHORIZATION>
    method: POST
    uri: https://www.reddit.com/api/v1/access_token
  response:
    body:
      string: '{"message": "Unauthorized", "error": 401}'
    headers:
      content-type:
      - application/json; charset=UTF-8
      www-authenticate:
      - Basic realm="reddit"
    status:
      code: 401
      message: Unauthorized
version: 1
